:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 --bg-color:white;
 --text-color:black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


[data-theme="user"] {
  --bg-color: #bdbdbd;
  --text-color: #000000;
  --navbar-bg: linear-gradient(135deg, #291515 0%, #6a399b 100%);
  --navbar-text: #f6f6f6;
}


[data-theme="seller"] {
  --bg-color: #242424;
  --text-color: #e0e1dd;
   --navbar-bg: linear-gradient(135deg, #fff200 0%,  #cac121 50%,  #5c5402 100%);
  --navbar-text: #000000;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;

  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
